

<h1 style="margin-left: 15%; font-size: 50px; margin-bottom: 2.5%;">Weather app</h1>
<div>
    <a href="/" style="margin-left: 16%;
                       font-size: 20px;
                       text-decoration: none;
                       color: #707070;
                       font-weight:bold;">Home</a>
    <a href="/weather?location=tehran" style="margin-left: 30px;
                           font-size: 20px;
                           text-decoration: none;
                           color: #707070;
                           font-weight:bold;">Weather</a>
        <a href="/help" style="margin-left: 30px;
                           font-size: 20px;
                           text-decoration: none;
                           color: #707070;
                           font-weight:bold;">Help</a>
    <a href="/about" style="margin-left: 30px;
                            font-size: 20px;
                            text-decoration: none;
                            color: #707070;
                            font-weight:bold;">about</a>
</div>
